.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: cornsilk ;
    color: black;
    border-radius: 10px;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.width100 {
    width: 100%;
}

.navbar {
    background-color: cornsilk;
}

.f1 {
    color: black;
}