.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}